# The image needs pyproject.toml, uv.lock, README.md, LICENSE and src/ only. Everything else stays out of the build
# context, so local files - credentials, tfvars, caches - never reach the builder (audit A-I-24).
*
!pyproject.toml
!uv.lock
!README.md
!LICENSE
!src/
**/__pycache__
**/*.pyc
**/.env
**/.env.*
**/*.log
**/*.pem
**/*.key
