# The image needs pyproject.toml, uv.lock, README.md, LICENSE and src/ only. Everything else stays out of the build
# context, so local files - credentials, tfvars, caches - never reach the builder (audit A-I-24).
*
!pyproject.toml
!uv.lock
!README.md
!LICENSE
!src/
!scripts/check_package.py
**/__pycache__
**/*.pyc
**/.env
**/.env.*
**/*.log
**/*.log.*
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/*.jks
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/tfplan*
**/*.tfplan*
**/*.db
**/*.sqlite*
**/*credentials*
**/id_rsa*
**/id_ed25519*
**/plan.out
**/*.local.json
**/*.tfvars.json
**/*.auto.tfvars*
**/.envrc
**/.env?
**/.netrc
**/.pypirc
**/.npmrc
**/kubeconfig*
**/*.kubeconfig
**/*.bak
**/*-wal
**/*-journal
**/*-shm
**/id_ecdsa*
**/id_dsa*
**/*.ppk
**/service-account*.json
**/*.keystore
**/*.kdbx
**/plan.json
**/*.tfstate?
**/*.tfvars?
**/*.swp
**/.terraformrc
**/terraform.rc
**/*.env
**/*.env?
**/.pgpass
**/.my.cnf
**/.vault-token
**/.htpasswd
**/*.ovpn
**/*token*.txt
**/secrets.*
**/*.p8
**/*.pkcs12
**/*.jceks
**/secring.*
**/*.asc
**/*.enc
**/*.db?
**/.docker/**
**/.kube/**
**/.azure/**
