# The image needs pyproject.toml, uv.lock, README.md, LICENSE and src/ only. Everything else stays out of the build
# context, so local files - credentials, tfvars, caches - never reach the builder (audit A-I-24).
*
!pyproject.toml
!uv.lock
!README.md
!LICENSE
!src/
**/__pycache__
**/*.pyc
**/.env
**/.env.*
**/*.log
**/*.log.*
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/*.jks
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/tfplan*
**/*.tfplan*
**/*.db
**/*.sqlite*
**/*credentials*
**/id_rsa*
**/id_ed25519*
**/plan.out
**/*.local.json
**/*.tfvars.json
**/*.auto.tfvars*
**/.envrc
**/.env?
**/.netrc
**/.pypirc
**/.npmrc
**/kubeconfig*
**/*.kubeconfig
**/*.bak
**/*-wal
**/*-journal
**/*-shm
**/id_ecdsa*
**/id_dsa*
**/*.ppk
**/service-account*.json
**/*.keystore
**/*.kdbx
